<div>

  <div class="add-title">
    <h2 class="primary">Add user</h2>
  </div>

  <form [formGroup]="myFirstReactiveForm">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        <div class="error" *ngIf="!firstName.valid && firstName.touched">
          Please, enter First Name!
        </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
        <div class="error" *ngIf="!lastName.valid && lastName.touched">
          Please, enter Last Name!
        </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Patronymic</mat-label>
        <input matInput formControlName="patron">
        <div class="error" *ngIf="!patron.valid && patron.touched">
          Please, enter Patronymic!
        </div>
      </mat-form-field>
      <br>
      <div style="color:grey;">Gender</div>
      <mat-radio-group formControlName="gender">
        <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="MALE">Male</mat-radio-button>
        <mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="FEMALE">Female</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Date of birth" formControlName="birthDay">
        <div class="error" *ngIf="!birthDay.valid && birthDay.touched">
          Please, enter Birth Date!
        </div>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName="charm">
          <mat-option [value]="charm.id" *ngFor="let charm of this.listService.charms">{{charm.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>

    <div formGroupName="factAddress">
      <h3>Address of residence (actual)</h3>

      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>House</mat-label>
        <input matInput formControlName="house">
      </mat-form-field>

      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>Flat</mat-label>
        <input matInput formControlName="flat">
      </mat-form-field>
    </div>

    <div formGroupName="regAddress">
      <h3>Registration Address</h3>
      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>House</mat-label>
        <input matInput formControlName="house">
      </mat-form-field>

      <mat-form-field appearance="fill" class="witdhOfAddres">
        <mat-label>Flat</mat-label>
        <input matInput formControlName="flat">
      </mat-form-field>
    </div>


    <div formArrayName="phones">
      <button mat-raised-button type="button" (click)="addPhoneField()" class="addNumb">Add phone number</button>
      <div *ngFor="let phone of phones.controls; index as idx" [formGroupName]="idx" class="phoneTypes">
        <mat-form-field>
          <mat-label>Phone Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="HOME">HOME</mat-option>
            <mat-option value="WORK">WORK</mat-option>
            <mat-option value="MOBILE">MOBILE</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="witdhOfAddres">
          <mat-label>Enter number</mat-label>
          <input matInput formControlName="number" placeholder="Enter number">
        </mat-form-field>
        <button mat-raised-button type="button" *ngIf="phones.controls.length > 1" (click)="deletePhoneField(idx)" class="deleteNumb">Delete</button>
      </div>
    </div>

    <div class="btn-sec">
      <button mat-raised-button type="submit" color="primary" [disabled]="!myFirstReactiveForm.valid" class="Update-btn" (click)="saveClient()">Save</button>
      <button mat-raised-button type="button" class="Discard-btn" (click)="close()">Cancel</button>
    </div>
  </form>

</div>
