<div>
  <div class="add-title">
    <h2 class="primary">Add customer</h2>
  </div>
  <div>
    <form [formGroup]="formGroup">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px">
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <label>
                <input matInput placeholder="First Name" value={{fname}} formControlName="firstname" required>
              </label>
              <mat-error *ngIf="formGroup.controls.firstname.hasError('required')">
                Please enter first name
              </mat-error>
              <mat-error *ngIf="formGroup.controls.firstname.hasError('pattern')">
                Please enter valid first name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Last Name" value={{lname}} formControlName="lastname" required>
              </label>
              <mat-error *ngIf="formGroup.controls.lastname.hasError('required')">
                Please enter last name
              </mat-error>
              <mat-error *ngIf="formGroup.controls.lastname.hasError('pattern')">
                Please enter valid last name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <label>
                <input matInput [matDatepicker]="picker1" placeholder="Date of birth">
              </label>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Email address" formControlName="email" required>
              </label>
              <mat-error *ngIf="formGroup.controls.email.hasError('required')">
                Please enter email id
              </mat-error>
              <mat-error *ngIf="formGroup.controls.email.hasError('email')">
                Please enter valid email id
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <label>
                <textarea matInput placeholder="Address"></textarea>
              </label>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-radio-group class="gender">
              <div style="color:grey;">Gender</div>
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="1">Male</mat-radio-button>
              <mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="2">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="btn-sec">
        <button mat-raised-button type="submit" color="primary" class="Update-btn" >Save</button>
        <button mat-raised-button type="button" class="Discard-btn" (click)="close()">Cancel</button>
      </div>

    </form>
  </div>
</div>
