table {
  width: 80%;
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pagin {
  display: flex;
  justify-content: center;
}

th.mat-sort-header-sorted {
  color: black;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-bottom: -50px;
}

.filter {
  display: flex;
}

.addUserButton {
  background-color: #7038ff;
  color: white;
  margin-top: 30px;
}
